body {
    box-sizing: border-box;
    background-image: url(../img/Sexy%20Girl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.pierwszy {
    background-color: beige;
    width: 400px;
    height: 400px;
    position: relative;
}

div.drugi {
    background-color: brown;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 25vh;
    top: 10vw;
}

div.przycisk {
    width: 50px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
}

div.przycisk:hover {
    background-color: aquamarine;
}

div.reibow {
    width: 100%;
    height: 100px;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, pink);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, pink);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, pink);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, pink);
    /* Standard syntax (must be last) */
}

video {
    width: 100%;
    height: auto;
}

form input::placeholder {
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 1.3em;
}

li:before {
    content: "\f00c";
    /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
}





/*jak ustawić zeby link z koncowka .doc miał inny kolor*/

a[href$='.doc']{
    color: firebrick;

}

a[href$='.docx']{
    color: darkorange;
    
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   */
    
    
    
    
    
    
}

div#footer {
    background-color: aqua;
    width: 100%;
    height: 30px;
    bottom: 0px;
    
}

div#foto {
    text-align: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

div#foto figure{
    width: 200px;
    height: 200px;
}

div#foto figure img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: cente
}

div#foto figure img:hover {
    transform: scale(2);
}

q:lang(en){
    
}
q:lang(pl){
    
}

blockquote:lang(en){

}

blockquote:lang(en):before{
    content: "\201C";
}

blockquote:lang(en):after{
    content: "\201C";
}

blockquote:lang(pl){
    
}

blockquote:lang(pl):before{
    content: open-quote;
    
}
blockquote:lang(pl):after{
    content: close-quote;
}

img.heart{
    width: 20px;
    height: 20px;
    animation-name: heart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes heart{
    0%, 100% {
    width: 40px;
    height: 40px;
    }
    50%{
    width: 20px;
    height: 20px;
    }
}

#kurtyna-gora{
    width: 100%;
    height: 0vh;
    background-color: dimgrey;
    position: fixed;
    top: 0;
    animation-name: dol;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

#kurtyna-dol{
    background-color: aqua;
    width: 100%;
    height: 0vh;
    position: fixed;
    bottom: 0;
    animation-name: dol;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes dol{        <div id="obrot">
            <div id="przod"></div>
            <div id="tyl"></div>
        </div>
    0%{
            width: 100%;
    height: 1vh;
    }
    100%{
            width: 100%;
    height: 50vh;
    }

}


#zad5{
    width: 100%;
    height: 100vh;
    background-color: fuchsia;
    position: relative;
    overflow: hidden;
    
}

div#zad5 div{
    height: 100%;
    width: 25%;
    float: left;
    position: relative;
}

div#zad5 div.a{
    background-color: aliceblue;
}
div#zad5 div.a:hover {
    width: 40%;
    position: absolute;
}
.b{
    background-color: floralwhite;
}
div#zad5 div.b:hover{
     width: 40%;
    position: absolute;
}
.c{
    background-color: dodgerblue;
}
div#zad5 div.c:hover{
     width: 40%;
    position: absolute;
}
.d{
    background-color: dimgray;
}
div#zad5 div.d:hover{
     width: 40%;
    position: absolute;
}